{% extends "base.html" %}
{% block content %}
<div class="container text-center mt-5">
  <h2>{{ exam|upper }} Subjects</h2>
  <div class="list-group mt-4">
    <a href="{{ url_for('notes', exam=exam, subject='english') }}" class="list-group-item">English</a>
    <a href="{{ url_for('notes', exam=exam, subject='maths') }}" class="list-group-item">Maths</a>
    <a href="{{ url_for('notes', exam=exam, subject='physics') }}" class="list-group-item">Physics</a>
    <a href="{{ url_for('notes', exam=exam, subject='chemistry') }}" class="list-group-item">Chemistry</a>
  </div>
</div>
{% endblock %}
